<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="!isLoading" class="container">
    <mat-accordion *ngIf="posts.length > 0">
        <mat-expansion-panel *ngFor="let item of posts">
            <mat-expansion-panel-header>{{item.title | textUp}}</mat-expansion-panel-header>
            <div class="post_img">
                <img [src]="item.imagePath" [alt]="item.title">
            </div>
            <p>{{item.content}}</p>
            <mat-action-row *ngIf="userAuthendicate && userId == item.creator">
                <a mat-raised-button color="primary" [routerLink]="['/edit', item.id]">EDIT</a>
                <button mat-raised-button color="warn" (click)="onDelete(item.id)">DELETE</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-paginator *ngIf="posts.length > 0" [length]="totalPost" [pageSize]="postPerPage" [pageSizeOptions]="pageSizeOpt" (page)="onChangePage($event)"></mat-paginator>
    <div *ngIf="posts.length <= 0">No Data fund</div>
</div>