.header{
    display: flex;
    width: 100%;
    padding: .5rem;
  }
  
  .menu{
    display: flex;
    gap:1rem;
    cursor: pointer;
  
    &_item{
      list-style: none;
      padding: .5rem 1rem;
      border-radius: 3rem;  
      &:hover{
        color:#cd14ed;
        background-color: #cfe8f5;
      }
    }
  }
  