.header{
    display: flex;
    width: 100%;
    padding: .5rem;
    align-items: center;
    justify-content: space-between;
  }

  .userName{
    font-size: 1.4rem;
    color:#6b6a6a;
    font-weight: 700;
    margin-right: 3rem;
  }
  
  .menu{
    display: flex;
    gap:1rem;
    cursor: pointer;
  
    &_item{
      list-style: none;
      padding: .5rem 1rem;
      border-radius: 3rem;  
      &:hover{
        color:#cd14ed;
        background-color: #cfe8f5;
      }

      &:last-child{
        justify-content: flex-end;
      }
    }
  }


  button{
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
  }
  