mat-card{
    width: 80%;
    margin: auto;
}

mat-form-field,textarea{
    width: 100%;
}

mat-spinner{
    margin: auto;
}

input[type="file"]{
    visibility: hidden;
}

.image_preview{
    height: 5rem;
    margin: .5rem;
}

.image_preview img{
    height: 100%;
    border-radius: .5rem;
}